AZURE_EXISTING_AGENT_ID=""
AZURE_ENV_NAME=""
AZURE_LOCATION=""
AZURE_SUBSCRIPTION_ID=""
AZURE_EXISTING_AIPROJECT_ENDPOINT=""
AZURE_EXISTING_AIPROJECT_RESOURCE_ID=""
AZURE_EXISTING_RESOURCE_ID=""
AZD_ALLOW_NON_EMPTY_FOLDER=true
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_DEPLOYMENT="gpt-4o"
AZURE_OPENAI_API_VERSION="2024-12-01-preview"
