AOAI_ENDPOINT=""
AOAI_API_KEY=""

PROJECT_ENDPOINT=""
AGENT_ID=""

# Entra ID App Registration / Service Principal
AZURE_CLIENT_ID=""
AZURE_TENANT_ID=""
AZURE_CLIENT_SECRET=""
AZURE_SUBSCRIPTION_ID=""
